<app-header titulo="Encabezado"></app-header>




<ion-segment scrollable 
              mode="md" 
              color="primary"
              (ionChange)="cambioCategoria($event)">
<!--____________________________________________________________-->
    <ion-segment-button 
                        mode="md" 
                        [value]="categoria"  
                        *ngFor="let categoria of categorias">

        <ion-label text-capitalize>{{categoria}}</ion-label>

    </ion-segment-button>

</ion-segment>
<!--______________________________________________________________-->

<ion-content color="dark">

<app-noticias [noticias]="noticias"></app-noticias>

<ion-infinite-scroll threshold="150px" 
                    (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" 
                                 loadingText="Cargando Datos...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>



</ion-content>
